#words {
  display:flex;
}
li{
  font-size: 30px;
}
input{
  width:20px;
  opacity:0%;
}
.left-words{
  min-width: 49.9%;
  max-width: 49.9%;
  color: #6174b4;
  float: left;
  overflow: hidden;
  direction: rtl;
  text-align: right;
  white-space: nowrap;
  padding-right: 1px;
  margin-right:0px;
  padding-left: 0px;
  margin-left:0px;
  
}

.right-words{
  max-width: 50%;
  min-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  float:right;
  padding-left: 0px;
  margin-left:0px;
}
.right-words{
  color: green;
}
.left-words .incorrect {
  text-decoration: line-through;
}
.left-words .correct {
  color:darkslategray;
}
.game-container{
  display:flex;
  flex-direction:column;
  align-items:center;
  background-color:black;
}
.left-words, .right-words, .current-word{
  height: inherit;
  line-height: 4.5em;
  height: 100px;
  font-family: 'Orbitron', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 100;
  font-size: 1.9em;
  transform: scale(1, 1.3);
  border: 0;
  outline: 0;
  vertical-align: middle;
}
/* .current-word{

} */

