section{
  position: relative;
  text-align: center;
}
h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 130px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 10px 10px black ;
}
h2{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 350%);
  font-size: 40px;
  color: white;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 10px 10px black ;
}
img{
  object-fit: cover;
  width: 2000px;
  height:300px;
}
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');